* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #081767;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem {
    width: 20%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

body {
    font-family: 'Poppins';
}

.turma {
    background-image: linear-gradient(#081767, #607538);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.turma-imagem {
    width: 25%;
}

.turma-div-conteudo{
    width: 35%;
    font-size: 30px;
}